# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/

# Virtual environments
.venv/
env/
venv/

# uv (usually respects pyproject.toml, but still ignore venvs if created)
.uv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS-specific
.DS_Store
Thumbs.db

# Environment variables
.env
*.env

# VSCode
.vscode/

# Pytest cache
.pytest_cache/

# MyPy cache
.mypy_cache/

# Coverage reports
htmlcov/
.coverage
coverage.xml
.cache

# Logs
*.log

# IDEs
.idea/
*.iml
